h1, p{
    color:green;
    text-align: center;
}
.example{
    background-color: blue;
    height:20px;
}
h2.example{
    color:white;
    height:40px;
}
#colores{
    background: yellow;
    color: red;
    font-size:2em;
}
#Orange{
    color:orange;
}
#Green{
    color:green;
}
#Red{
    color:red;
}
/*span h2{
    color:red;
    font-size:20px;
}*/